/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: "Baskerville"
	rc: ("../fonts/Baskerville.ttc");
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

header a {
	color: #98ada6;
	text-decoration: none;
}

a {
	background: transparent;
}

h1 {
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 8em;
	font-weight: bold;
	font-family: 'Baskerville', serif;
	border-bottom: 2px solid gray;
}

h2 {
	color: gray;
}

#features img {
	border: 5px rgb(152,173,166) solid;
}

#press {
	margin-bottom: 20px;
	display: inline-block;
	color: 5px rgb(152,173,166) solid;
}

img {
	border: 5px gray solid;
}

footer {
	text-align: right;
}
